/* Other Settings */
body {
    margin: 0px;
    margin-bottom: 160px;
}

html {
    position: relative;
    min-height: 100%;
}

a:link,
a:visited {
    text-decoration: none;
}


/* Header and Navigation */
.header-frame {
    display: flex;
    z-index: 3;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    width: 1200px;
}

.title {
    display: flex;
    flex: auto;
    font-weight: bold;
}

.item-text {
    color: #448899;
    font-size: 30px;
    font-weight: bold;
}


.nav {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    margin: 10px;
}

.item {
    display: block;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.item.inactive {
    display: none;
}

.item:hover {
    color: #448899;
    font-weight: bold;
}


/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    background-image: url("/img/welcome.png");
    background-position: 0px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-inner-frame {
    flex: none;
    width: 1200px;
}

.banner-title-1 {
    flex: none;
    margin: 20px 10px 20px 10px;
    color: #F8F8F8;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.banner-title-2 {
    flex: none;
    margin: 20px 10px 20px 10px;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

/* Search */
.search-frame {
    display: flex;
    align-items: center;
    margin: 20px 10px 20px 10px;
}

#searchKeyword {
    flex: none;
    width: 400px;
    height: 26px;
    padding: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    outline: none !important;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
}

.search-button {
    flex: none;
    width: 60px;
    height: 46px;
    border-radius: 0px 5px 5px 0px;
    background-color: #448899;
    background-image: url(/img/icon_search.png);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.8;
}

#categoryFrame {
    display: none;
}

#category { 
    display: grid;
    z-index: 1;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 400px;
    height: 162px;
    margin: 0px 0px 0px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
}

.select {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
}

.select:hover {
    background-color: #E8E8E8;
    color: #448899;
    font-weight: bold;
}

.is-active {
    display: block !important;
}


/* Main Content */
.content-outer-frame {
    display: flex;
    justify-content: center;
}

.content-inner-frame {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.content {
    flex: none;
    width: 23%;
    margin: 10px;
    border: 1px solid #c2c0c0;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
}

.content:hover {
    opacity: 0.8;
}

.content img {
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.content-text {
    display: flex;
    padding: 10px;
    color: #757575;
}

.content-text-left {
    flex: none;
    width: 50%;
}

.content-text-right {
    flex: none;
    width: 50%;
    text-align: right;
}

.content-title {
    display: flex;
    position: relative;
    bottom: 43px;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: -40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    font-weight: bold;
}

.content-title > div {
    margin: 10px;
}

.no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 20px;
    text-align: center;
}


/* Loading Effect */
.loading {
    display: flex;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s ease-in;
}

.loading.show {
    opacity: 1;
}

.loading.showInMiddle {
    bottom: 300px;
}

.ball {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: #448899;
    animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
    animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-20px);
    }
}


/* Footer */
.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;
    margin: 50px 0px 0px 0px;
    background-color: #757575;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}


/* Attraction Page Content */
.attraction-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attraction {
    display: flex;
    width: 1200px;
}

.attraction-image-frame {
    flex: auto;
    width: 50%;
    height: 400px;
    margin: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 406px;
}

.carousel > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.slide {
    position: absolute;
    overflow: hidden;
    inset: 0;
}

.slide > img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navigation-dots {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    margin: 12px 0px;
    transform: translateY(-40px);
}

.single-dot {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin: 0px 8px;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    transition: 400ms;
}

.single-dot.active {
    box-sizing: border-box;
    background: black;
}

.slide-button {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.8;
}

.slide-button:hover {
    opacity: 1;
}

.slide-button.prev {
    left: 1rem;
}

.slide-button.next {
    right: 1rem;
}

.attraction-plan {
    flex: auto;
    width: 50%;
    margin: 10px;
}

.attraction-name {
    margin: 10px 10px 20px 10px;
    color: #666666;
    font-size: 24px;
    font-weight: bold;
}

.attraction-cat-mrt {
    margin: 10px 10px 20px 10px;
    color: #666666;
    font-size: 16px;
}

.attraction-background {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.attraction-journey {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}

.attraction-intro {
    margin: 5px;
    padding: 10px;
    color: #666666;
    font-size: 16px;
}

.attraction-date {
    box-sizing: border-box;
    width: 193px;
    height: 35px;
    padding: 5px;
    border: 0px solid white;
    outline: none !important;
    font-size: 16px;
}

input[type="radio"] {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    -webkit-appearance: none;
}

input[type="radio"]:before {
    display: block;
    width: 14px;
    height: 14px;
    margin: 13% auto;
    border-radius: 50%;
    content: "";    
}

input[type="radio"]:checked:before {
    background: #448899;
}

.attraction-fee {
    margin: 0px 5px 0px 5px;
}


.attraction-button-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 36px;
    margin: 20px 15px 10px 15px;
    padding: 0px;
    border-radius: 5px;
    background-color: #448899;
    cursor: pointer;
}

.attraction-button-background:hover {
    opacity: 0.8;
}

.attraction-button {
    color: #FFFFFF;
    font-size: 19px;
}

.separator {
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 0.5px solid #E8E8E8;
}

.attraction-details-frame {
    display: flex;
    justify-content: center;
}

.attraction-details {
    width: 1200px;
}

.attraction-title {
    margin: 10px 15px 10px 10px;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}

.attraction-title.text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}


/* Member Register and Signin */
.layer {
    display: none;
}

.layer.active {
    display: block;
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0,0,0,0.25);
}

.signin-frame,
.register-frame {
    display: none;
    animation: signin-fade 0.2s ease-in-out;
}

@keyframes signin-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.signin-frame.active,
.register-frame.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-menu,
.register-menu {
    z-index: 5;
    position: fixed;
    top: 5rem;
    width: 340px;
    height: 275px;
    height: auto;
    border-radius: 6px;
    background-color: white;
}

.signin-close,
.register-close {
    position: absolute;
    top: 20px;
    right: 16px;
    cursor: pointer;
}

.signin-cover,
.register-cover {
    height: 10px;
    border-radius: 6px 6px 0px 0px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.signin-title,
.register-title {
    margin: 10px;
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.signin-input-frame,
.register-input-frame {
    text-align: center;
}

.signin-input,
.register-input {
    box-sizing: border-box;
    width: 310px;
    height: 47px;
    margin: 5px;
    padding: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    outline: none !important;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
}

.register-input.valid {
    border: 2px solid green;
}

.register-input.invalid {
    border: 2px solid red;
}

.register-input + .register-verify {
    display: none;
    height: 0;
    color:red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.register-input.invalid + .register-verify {
    display: block;
    height: auto;
    margin: 6px 18px 6px 18px;
}

.signin-button-frame,
.register-button-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-button,
.register-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 47px;
    margin: 5px;
    border-radius: 5px;
    background-color: #448899;
    color: white;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.signin-button:hover,
.register-button:hover {
    opacity: 0.8;
}

.signin-register {
    margin: 10px 0px 18px 0px;
    color: #666666;
    font-size: 16px;
    text-align: center;
}

.register-message,
.signin-message {
    margin: 10px 0px 15px 0px;
    font-weight: bold;
    text-align: center;
}

.register-message.successful {
    color: green;
}

.register-message.warning,
.signin-message.warning {
    color: red;
}

.register-signin {
    margin: 10px 0px 20px 0px;
    color: #666666;
    font-size: 16px;
    text-align: center;
}

.signin-register-click,
.register-signin-click {
    cursor: pointer;
}

.signin-register-click:hover,
.register-signin-click:hover {
    color: #448899;
    font-weight: bold;
    text-decoration: underline;
}


/* Booking */
.booking-container {
    display: none;
}

.booking-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking {
    width: 1000px;
}

.booking-no-booking {
    font-size: 16px;
    color: #666666;
    margin-left: 20px;
}

.booking-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0px 0px 20px 20px;
    color: #666666;
}

.booking-information {
    display: flex;
}

.booking-image-frame {
    flex: none;
    width: 30%;
    margin: 20px;
}

.booking-image-frame > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.booking-image > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}

.booking-details {
    flex: none;
    width: 50%;
    margin: 20px;
}

.booking-details-title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    color: #448899;
}

.booking-attraction > a {
    color: #448899;
}

.booking-details-text {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.contact-text.message {
    font-weight: bold;
}

.booking-delete {
    flex: auto;
    justify-content: flex-end;
    margin: 20px 10px 0px 10px;
    height: 30px;
    display: flex;
}

.booking-delete > img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contact-frame,
.credit-card-frame {
    display: flex;
    justify-content: center;
}

.contact,
.credit-card {
    width: 1000px;
}

.contact-title,
.credit-card-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0px 20px 20px 20px;
    color: #666666;
}

.contact-text,
.credit-card-text {
    font-size: 16px;
    color: #666666;
    margin: 0px 20px 20px 20px;
}

.contact-input,
.credit-card-input {
    width: 200px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    outline: none !important;
    font-size: 16px;
    padding: 10px;
}

.contact-input.valid,
.credit-card-input.valid {
    border: 2px solid green;
}

.contact-input.invalid,
.credit-card-input.invalid {
    border: 2px solid red;
}

.confirm-booking-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-booking {
    width: 1000px;
    text-align: right;
}

.confirm-amount {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}

.confirm-button-frame {
    display: flex;
    justify-content: flex-end;
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 36px;
    margin: 10px 20px 10px 20px;
    padding: 0px;
    border-radius: 5px;
    background-color: #448899;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 19px;
}

.confirm-button:hover {
    opacity: 0.8;
}

/* Tablet Devices Setting */
@media(max-width: 1200px) {

    .banner {
        flex-wrap: wrap;
    }

    .banner-inner-frame {
        width: 91%;
    }

    #searchKeyword {
        width: 300px;
    }

    .content-outer-frame {
        margin: 20px;
    }

    .content {
        width: 45%;
    }

    .content img {
        object-fit: cover;
    }

    .attraction {
        flex-wrap: wrap;
    }
    
    .attraction-image-frame {
        width: 45%;
    }

    .separator {
        width: 750px;
    }

    .attraction-title {
        margin: 10px 15px 15px 10px;
    }

    .booking-title {
        margin-left: 20px;
    }

}


/* Mobile Devices Setting */
@media(max-width: 600px) {

    .item-text {
        margin: 0px 0px 0px 10px;
    }

    .content {
        width: 90%;
    }

    #searchKeyword {
        width: 210px;
    }

    #category {
        width: 302px;
    }

    .attraction-image-frame {
        width: 90%;
        margin: 0px;
    }

    .attraction-image {
        height: auto;
    }

    .slide > img {
        border-radius: 0px;
    }

    .separator {
        width: 340px;
    }

    .attraction-title {
        margin: 0px 18px 10px 18px;
    }

    .navigation-dots {
        transform: translateY(-40px);
    }

    .booking-information {
        justify-content: center;
    }

    .booking-information {
        flex-wrap: wrap;
    }

    .booking-image-frame {
        width: 90%;
    }

    .booking-details {
        width: 90%;
    }

    .booking-delete {
        margin: 20px 19px 0px 19px;
        width: 90%;
    }

    .booking-image > img {
        height: 256px;
    }

}