<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/attraction.js" defer></script>
</head>

<body>

    <!-- Header and Navigation -->
    <div class="header-frame">

        <div class="header">

            <div class="title">
                <div class="item">
                    <div><a class="item-text" href="/">台北一日遊</a></div>
                </div>
            </div>

            <div class="nav">
                <div class="item">預定行程</div>
                <div class="item">登入/註冊</div>   
            </div>

        </div>

    </div>


    <!-- Separator -->
    <br/><br/><br/>


    <!-- Attraction Content -->
    <div id="content-container"></div>


    <!-- Footer -->
    <div id="footer" class="footer">COPYRIGHT © 2022 台北一日遊</div>

</body>

</html>