<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <!-- Header and Navigation -->
    <div class="header-frame">

        <div class="header">

            <div class="title">
                <div class="item">
                    <div><a href="/">台北一日遊</a></div>
                </div>
            </div>

            <div class="nav">
                <div class="item">預定行程</div>
                <div class="item">登入/註冊</div>
            </div>

        </div>

    </div>


    <!-- Banner and Search -->
    <div class="banner">

        <div class="banner-inner-frame">

            <div class="banner-title-1">輕鬆享受台北一日悠閒</div>
            <div class="banner-title-2">探索每個角落，體驗城市的深度旅遊行程</div>

            <div class="search-frame">
                <div><input id="searchKeyword" type="text" placeholder="輸入景點名稱查詢"></div>
                <div id="search-btn" class="search-btn"></div>
            </div>

            <div id="search-container"></div>

        </div>

    </div>


    <!-- Main Content  -->
    <div id="content-container"></div>


    <!-- Footer -->
    <div id="footer" class="footer">COPYRIGHT © 2022 台北一日遊</div>


    <!-- Loading Effect -->
    <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>


    <!-- Javascript -->
    <script src="main.js"></script>


</body>

</html>