<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/html/header.js" defer></script>
    <script src="/js/html/footer.js" defer></script>
    <script src="/js/html/member.js" defer></script>
    <script src="/js/attraction.js" defer></script>
    <script type="module" src="/js/member/member.js" defer></script>
</head>

<body>

    <!-- Header and Navigation -->
    <main-header></main-header>


    <!-- Separator -->
    <br/><br/><br/>


    <!-- Attraction Content -->
    <div class="attraction-container">
        <div class="attraction-frame">
            <div class="attraction">

                <div class="attraction-image-frame">
                    <div class="carousel">
                        <img id="prev" class="slide-button prev" src="/img/btn_leftArrow.png">
                        <img id="next" class="slide-button next" src="/img/btn_rightArrow.png">
                        <!-- Attraction image container -->
                        <ul id="attraction-image"></ul>
                    </div>
                    <!-- Navigation dots container -->
                    <div id="navigation-dots" class="navigation-dots"></div>
                </div>

                <div class="attraction-plan">
                    <!-- Attraction name container -->
                    <div id="attraction-name" class="attraction-name"></div>
                    <!-- Attraction category and mrt container -->
                    <div id="attraction-cat-mrt" class="attraction-cat-mrt"></div>

                    <div class="attraction-background">
                        <div class="attraction-journey">訂購導覽行程</div>
                        <div class="attraction-intro">以此景點為中心的一日行程，帶您探索城市角落故事</div>

                        <div class="attraction-journey">
                            <span>選擇日期：</span>
                            <span><input class="attraction-date" type="date"></span>
                        </div>

                        <div class="attraction-journey">
                            <span>選擇時間：</span>
                            <input type="radio" name="choose-time" id="attraction-am" checked><span class="attraction-am">上半天</span>
                            <input type="radio" name="choose-time" id="attraction-pm"><span>下半天</span>
                        </div>

                        <div class="attraction-journey">
                            <span>導覽費用：</span>
                            <span>新台幣</span>
                                <span id="attraction-fee-am" class="attraction-fee-am active" value="2000">2000</span>
                                <span id="attraction-fee-pm" class="attraction-fee-pm" value="2500">2500</span>
                            <span>元</span>
                        </div>

                        <div class="attraction-button-background">
                            <div class="attraction-button">開始預約行程</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <hr class="separator"/>

    <div class="attraction-details-frame">
        <div class="attraction-details">
            <!-- Attraction description container -->
            <div id="attraction-description" class="attraction-title text"></div>

            <div class="attraction-title">景點地址：</div>
            <!-- Attraction address container -->
            <div id="attraction-address" class="attraction-title text"></div>

            <div class="attraction-title">交通方式：</div>
            <!-- Attraction mrt container -->
            <div id="attraction-mrt" class="attraction-title text"></div>
        </div>
    </div>

    
    <!-- Member Register and Signin -->
    <main-member></main-member>


    <!-- Footer -->
    <main-footer></main-footer>

</body>

</html>