<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<body>

    <!-- Header and Navigation -->
    <main-header></main-header>


    <!-- Separator -->
    <br/><br/><br/>


    <!-- Order Content -->
    <div id="orderContainer" class="order-container">
        <div class="order-frame">
            <div class="order-header">歷史訂單詳情</div>
            <div id="orderNoOrder" class="order-no-order"></div>
            <div id="orderDetailsContainer"></div>
            <div id="orderPrevButton" class="order-prev-button">
                <div>返回上一頁</div>
            </div>
        </div>
    </div>

    
    <!-- Member Register and Signin -->
    <main-member></main-member>


    <!-- Footer -->
    <main-footer></main-footer>


    <!-- Loading Effect -->
    <main-loading-effect></main-loading-effect>

    
    <!-- Javascript -->
    <script src="/js/html/header.js"></script>
    <script src="/js/html/footer.js"></script>
    <script src="/js/html/member.js"></script>
    <script src="/js/html/loadingEffect.js"></script>
    <script type="module" src="/js/order/order.js"></script>
    <script type="module" src="/js/member/member.js"></script>

</body>

</html>